<footer>
	<div class="container">
		<%= link_to _("Contact {{site_name}}", :site_name => site_name), help_contact_path %>
| <a href="https://twitter.com/<%= AlaveteliConfiguration::twitter_username %>"><i class="fa fa-twitter"></i> <%= _("Follow us on Twitter") %></a>
		<%= render :partial => 'general/credits' %>
		<%= render :partial => 'general/license' %>
	</div>
</footer>
