<% cache do %>
<div class="container">
<div class="row">
<%= render :partial => 'general/orglink' %>
<!-- <a class="btn pull-right" href="#" id="search-icon">
  <i class="fa fa-search fa-2x"></i>
</a> -->
<nav class="navbar navbar-default span6 pull-right" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li class="<%= 'active' if params[:controller] == 'general' and params[:action] != 'blog' and params[:action] != 'search' %>"><%= link_to _("Home"), frontpage_path %></li>
        <li class="<%= 'active' if params[:controller] == 'request' and ['new', 'select_authority'].include?(params[:action]) %>"><%= link_to _("Make a request"), select_authority_path, :id => 'make-request-link' %></li>
        <li class="<%= 'active' if params[:controller] == 'request' and !['new', 'select_authority'].include?(params[:action]) %>"><%= link_to _("View requests"), request_list_successful_path %></li>
        <li class="<%= 'active' if params[:controller] == 'public_body' %>"><%= link_to _("View authorities"), list_public_bodies_default_path %></li>
        <!-- <li class="<%= 'active' if params[:controller] == 'general' and params[:action] == 'blog' %>"><%= link_to _("Read blog"), blog_path %></li> -->
        <% if @user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#"><%=link_to _("My requests"), show_user_requests_path(:url_name => @user.url_name) %></a></li>
              <li><a href="#"><%=link_to _("My profile"), show_user_profile_path(:url_name => @user.url_name) %></a></li>
              <li><a href="#"><%=link_to _("My wall"), show_user_wall_path(:url_name => @user.url_name) %></a></li>
              <li class="divider"></li>
              <li><a href="#"><%= link_to _("Sign out"), signout_path(:r => request.fullpath) %></a></li>
            </ul>
          </li>
        <% else %>
           <li class="<%= 'active' if params[:controller] == 'user' %>"><%= link_to _("Sign in or sign up"), signin_path(:r => request.fullpath) %></li>
        <% end %>
        <li class="<%= 'active' if params[:controller] == 'help' %>"><%= link_to _("Help"), help_about_path %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
</div>
</div>
<% end %>