<% @title = "Information officer questions" %>

<%= render :partial => 'sidebar' %>

<div id="left_column_flip">
  <h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>

  <dl>

  <dt id="top">I just got here from bottom of an PAIA request, what is going on? <a href="#top">#</a> </dt>

  <dd><p>AskAfrica is a service run by a non-governmental organisation. It helps ordinary members of the public make PAIA requests, and easily track and share the responses.</p>

  <p>The PAIA request you received was made by someone using AskAfrica. You can simply reply to the request as you would any other request from an individual. The only difference is that your response will be automatically published on the Internet.
  </p>
  <p>If you have privacy or other concerns, please read the answers below. You might also like to read the introduction to AskAfrica to find out more about what the site does from the point of view of a user. You can also search the site to find the authority that you work for, and view the status of any requests made using the site.</p>

  <p>Finally, we welcome comments and
  thoughts from information officers, please <a href="<%= help_contact_path %>">get in touch</a>.
  </p>
  </dd>

  <dt id="responses">Why are you publishing responses to PAIA requests? <a href="#responses">#</a> </dt>

  <dd>One of the main benefits of this is preventing duplication and thus easing the burden on your department! We think there are also lots of additional benefits. Most importantly, it will encourage the public to be more interested and involved in the work of government. We also hope that it will reduce the number of duplicate requests on any subject that a public body will receive. Given that PAIA responses contain public information, which anybody could easily request again from the public authority, we think there should be no reason not to publish it widely. More importantly, if a PAIA request is released, it cannot be released with conditions - which means its public.</dd>

  <dt id="realpeople">Are the people making requests real people? <a href="#realpeople">#</a> </dt>

  <dd>Yes. For the purposes of keeping track of responses we use computer-generated email addresses for each request. However, before they can send a request, each user must register on the site with a unique email address that we then verify. You can search this site and find a page listing all requests that each person has made. Their details are provided to you because we have sent you all the information normally required in a PAIA form A.</dd>

  <dt id="email_only">An email isn't a sufficient address for an PAIA request! <a href="#email_only">#</a> </dt>

  <dd>Yes it is. This
  Yes it is. Don’t forget section 18 merely requires "sufficient particulars" to aid the request, but you are of course open to directly communicate with the requester for any additional details you feel you require.</dd>

  <dt id="vexatious">Aren't you making lots of vexatious requests? <a href="#vexatious">#</a> </dt>

  <dd><p>AskAfrica is not making any requests. We are sending requests on behalf of our Moreover, since all requests are public it is much easier for you to see if one of our users is making vexatious requests.</p>
  </dd>

  <dt id="spam_problems">I can see a request on AskAfrica, but we never got it by email!<a href="#spam_problems">#</a> </dt>

  <dd><p>If a request appears on the site, then we have attempted to send it to
  the authority by email. Any delivery failure messages will automatically
  appear on the site. You can check the address we're using with the "View PAIA
  email address" link which appears on the page for the authority. <a
  href="<%= help_contact_path %>">Contact us</a> if there is a better address we can
  use.</p>
  <p>Requests are sometimes not delivered because they are quietly removed by
  "spam filters" in the IT department of the authority. Authorities can make
  sure this doesn't happen by asking their IT departments to "whitelist"
  any email from <strong>@askafrica.net</strong>.
  If you <a href="<%= help_contact_path %>">ask us</a> we will resend any request,
  and/or give technical details of delivery so an IT department can chase
  up what happened to the message.
  </p>
  <p>Finally, you can respond to any request from your web browser, without
  needing any email, using the "respond to request" link at the bottom of
  each request page.
  </dd>

  <dt id="days">How do you calculate the deadline shown on request pages? <a href="#days">#</a> </dt>

  <dd>
  <p>The Promotion of Access to Information Act 2 of 2000 says in section 25 (1):<br />
	“Except if the provisions regarding third party notice and intervention contemplated in Chapter 5 of this Part apply, the information officer to whom the request is made or transferred, must, as soon as reasonably possible, but in any event within 30 days after the request is received, -
	<ol>
		<li>decide in accordance with this Act whether to grant the request; and</li>
		<li>notify the requester of the decision…”.</li>
	</ol>
</p>
<p>The nerdy detail of exactly how weekends are counted, and what happens if the request arrives out of office hours, is just that - detail. What matters here is that the law says authorities must respond promptly.</p>
<p>If you've got a good reason why the request is going to take a while to process, requesters find it really helpful if you can send a quick email with a sentence or two saying what is happening. However, don’t forget that if you wish to ask for a further 30 day extension you are obliged to comply with section 26.</p>
<p>Information officers often have to do a lot of hard work to answer requests, and this is hidden from the public. We think it would help everyone to have more of that complexity visible.</p>
  </dd>

  <dt id="days2">But really, how do you calculate the deadline? <a href="#days2">#</a> </dt>

  <dd>
<p>Please read the answer to the previous question first. Legally, authorities must respond promptly to PAIA requests. If they fail to do that, it is best if they show the hard work they are doing by explaining what is taking the extra time to do.</p>
<p>That said, AskAfrica does show the maximum legal deadline for response on each request. We calculate on the basis of the requirements of PAIA, and its definition of days not relating to working days. So, while a definition of “working days” is provided for in the Act, and used in some sections, the legislature instead chose to use the word “days” in section 25, which must then mean ordinary days.</p>
  </dd>

  <dt id="large_file">How can I send a large file, which won't go by email?<a href="#large_file">#</a> </dt>

  <dd>Instead of email, you can respond to a request directly from your web
  browser, including uploading a file. To do this, choose "respond to request" at
  the bottom of the request's page. <a href="<%= help_contact_path %>">Contact us</a> if it
  is too big for even that (more than, say, 50Mb).
  </dd>

  <dt id="names">Why do you publish the names of civil servants and the text of emails? <a href="#names">#</a> </dt>

  <dd>
  	<p>We consider what officers or servants do in the course of their employment to be public information. We will only remove content in exceptional circumstances, see our <a href="<%= help_privacy_path(:anchor => 'takedown') %>">take down policy</a>. We base this in fact on what PAIA considers “personal information” to mean in the Act itself, which excludes the information of an official acting in that capacity from its remit (see section 34(2)(f)).</p>
  </dd>

  <dt id="mobiles">Do you publish email addresses or mobile phone numbers? <a href="#mobiles">#</a> </dt>

  <dd><p>To prevent spam, we automatically remove most emails and some mobile numbers from
  responses to requests.  Please <a href="<%= help_contact_path %>">contact us</a> if we've
  missed one.
  For technical reasons we don't always remove them from attachments, such as certain PDFs.</p>
  <p>If you need to know what an address was that we've removed, please <a
    href="<%= help_contact_path %>">get in touch with us</a>. Occasionally, an email address
  forms an important part of a response and we will post it up in an obscured
  form in an annotation.
  </dd>

  <dt id="copyright"><a id="commercial"></a>What is your policy on copyright of documents?<a href="#copyright">#</a> </dt>

  <dd>
  <p>PAIA is "applicant blind", so anyone in the
  world can request the same document and get a copy of it.</p>

  <p>If you think our making a document available on the internet infringes your
  copyright, you may <a href="<%= help_contact_path %>">contact us</a> and ask us
  to take it down.  However, to save tax payers' money by preventing duplicate
  requests, and for good public relations, we'd advise you not to do that.</p>
  </dd>

  </dl>

  <p><strong>If you haven't already</strong>, read <a href="<%= help_about_path %>">the introduction</a> --&gt;
  <br><strong>Otherwise</strong>, the <a href="<%= help_credits_path %>">credits</a> or the <a href="<%= help_api_path %>">programmers API</a> --&gt;

  <div id="hash_link_padding"></div>
</div>


