<div class="admin">
  <nav class="navbar navbar-default" role="navigation">
     <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="container">
        <%= link_to 'Alaveteli', frontpage_path, :class => "brand" %>
        <div class="nav-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Summary', admin_general_index_path %></li>
            <li><%= link_to 'Timeline', admin_timeline_path %></li>
            <li><%= link_to 'Stats', admin_stats_path %></li>
            <li><%= link_to 'Debug', admin_debug_path %></li>
            <li><%= link_to 'Authorities', admin_body_list_path %></li>
            <li><%= link_to 'Requests', admin_request_list_path %></li>
            <li><%= link_to 'Users', admin_user_list_path %></li>
            <li><%= link_to 'Tracks', admin_track_list_path %></li>
            <li><%= link_to 'Log out', signout_path %></li>
          </ul>
        </div>
      </div>
    
  </nav>
</div>
